* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
   width: 100vw;
   height: auto;
   font-family: serif ;
 }  

 .line {
   width: 0%;
   height: 1px;
   background-color: #FFF;
   position: fixed;
   top: 50%;
   z-index: 3;
 }

 .up {
   width: 100vw;
   height: 50%;
   background-color: #000;
   position: fixed;
   z-index: 2;
 }

 .down {
  width: 100vw;
  height: 50%;
  background-color: #000;
  position: fixed;
  bottom: 0;
  z-index: 2;
}
 .header-bg {
   height: 100vh;
  }
  header {
    height: 100vh;
  }
  /* ヘッダートップ */
  .top-contents {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 70px;
    background: rgba(7, 6, 6, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left-content {
    display: flex;
  }

  .right-content {
    display: flex;
    margin-right: 50px;
  }
  .right-content p {
    color: #FFF;
    font-weight: bold;
    font-size: large;
  }
  .fab .fa-twitter-square {
    display: block;
  }

   i {
     font-size: 1.5rem;
     color: #8B0000;
     display: block;
     margin-left: 30px;
     margin-right: 20px;
   }

   .owner-name {
     color: #8B0000;
     font-size: large;
   }
  .typing {
    height: 100%;
    width: 100vw;
    position: relative;
    background-image: url('images/my-icon.JPG');
    background-size: 100vw 100vh;
 }
 .typed_wrap {
   position: absolute;
   width: 100vw;
   text-align: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: rgba(7, 6, 6, 0.5);
 }
 .typed_wrap h1 {
   color: #FFF;
   font-family: 'Times New Roman', Times, serif;
   font-size: 3rem;
   height: 180px;
   line-height: 180px;
 }
 .typed::after {
   content: "|";
   animation: blink 0.7s infinite;
 }
 @keyframes blink {
   50%{opacity: 0;}
 }

 .bottom-text {
  line-height: 2.5;
  position: absolute;
  left: 100px;
  bottom: 100px;
  color: #FFF;
  font-size: large;
  letter-spacing: 3px;
  font-weight: bold;
 }

.self-introduction {
  line-height: 2.5;
  position: absolute;
  right: 100px;
  bottom: 70px;
  color: #FFF;
  font-size: large;
  letter-spacing: 3px;
  font-weight: bold;
}

 .arrow-1 {
  margin-top: 10px;
  position: absolute;
  right: 50vw;
  bottom: 120px;
  width: 30px;
  height: 30px;
  border: 5px solid;
  border-color:  transparent transparent #FFF #FFF;
  transform: rotate(-45deg);  
 }
 .arrow-2 {
  position: absolute;
  right: 50vw;
  bottom: 100px;
  width: 30px;
  height: 30px;
  border: 5px solid;
  border-color:  transparent transparent #FFF #FFF;
  transform: rotate(-45deg); 
 }
 .arrow-3 {
  position: absolute;
  right: 50vw;
  bottom: 80px;
  width: 30px;
  height: 30px;
  border: 5px solid;
  border-color:  transparent transparent #FFF #FFF;
  transform: rotate(-45deg); 
 }
 .arrow-4 {
  position: absolute;
  right: 50vw;
  bottom: 60px;
  width: 30px;
  height: 30px;
  border: 5px solid;
  border-color:  transparent transparent #FFF #FFF;
  transform: rotate(-45deg); 
 }
 .arrow-5 {
  position: absolute;
  right: 50vw;
  bottom: 40px;
  width: 30px;
  height: 30px;
  border: 5px solid;
  border-color:  transparent transparent #FFF #FFF;
  transform: rotate(-45deg); 
 }

 
 /*メイン部分*/
 main {
   padding: 250px;
   width: 100vw;
   background-color: rgba(20, 20, 20, 0.8);
 }

 .contents li {
   position: relative;
   list-style: none;
 }

 .contents li.show h2,
 .contents li.show p,
 main .contents li.show a {
   opacity: 1;
   transform: none;
 }

 .contents li:not(:first-of-type) {
   margin-top: 300px;
 }

 .contents li:nth-of-type(odd) .contentsText {
   right: 0;
 }

 .contents li:nth-of-type(even) .contentsText {
   align-items: flex-start;
   transform: translate(-20px, -20px);
}

 .contents li:nth-of-type(even) a {
   margin-left: auto;
   transform: translate(20px, 20px);
 }

 .contentsText {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   position: absolute;
   top: 40px;
 }

 .contents h2 {
   color: #FFF;
   font-size: 50px;
   font-weight: bold;
   white-space: nowrap;
   background-color: rgba(20, 20, 20, 0.8);
   padding: 10px 20px;
   line-height: 1.4;
   letter-spacing: .05em;
   border-radius: 5px;
   opacity: 0;
   transform: translateY(20px);
   transition: 1s;
 }

 .contents p {
   line-height: 2.0;
   color: #FFF;
   background-color: #555;
   font-size: 14px;
   max-width: 500px;
   margin-top: 40px;
   padding: 15px;
   border-radius: 5px;
   opacity: 0;
   transform: translateY(20px);
   transition: 1s;
 }

 .school {
   font-weight: bold;
   display: block;
   border-bottom: 1px solid black;
   font-size: large;
 }
 .contact {
  font-weight: bold;
  display: block;
  border-bottom: 1px solid black;
  font-size: large;
 }
 #github {
  text-align: center;
  display: block;
  width: 200px;
  color: #FFF;
  text-decoration: none;
  border: 1px solid transparent;
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
 }
 #github:hover {
  border-color: #FFF;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: transparent;
  outline-offset: 12px;
  text-shadow: 2px 2px 3px #000;
 }

 .video {
   position: relative;
   height: 450px;
   padding-bottom: 56.25%;
 }
 .video iframe {
   position: absolute;
   left: 300px;
   width: 500px;
   height: 315px;
 }
 #github-entertainer {
  text-align: center;
  display: block;
  width: 200px;
  color: #FFF;
  text-decoration: none;
  border: 1px solid transparent;
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
 }
 #github-entertainer:hover {
  border-color: #FFF;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: transparent;
  outline-offset: 12px;
  text-shadow: 2px 2px 3px #000;
}


 .heading {
   display: block;
   margin-bottom: 2px;
   font-weight: bold;
   font-size: 16px;
  border-bottom: 1px solid lightgray;
 }

 .frontend {
   font-size: 16px;
   font-weight: bold;
   color: #FFF;
 }
 .backend {
   display: block;
   margin-top: 15px;
   font-size: 16px;
   font-weight: bold;
   color: #FFF;
 }
 .tools {
   font-weight: bold;
 }
 .work-explanation {
   display: block;
   border-bottom: 1px solid lightgray;
 }

 .contents a {
   display: block;
   width: 67%;
   border-radius: 5px;
   opacity: 0;
   transform: translateX(-20px);
   transition: 1s 0.5s;
 }

 .contents a img {
   display: block;
   width: 100%;
 }

 #languages {
   display: block;
   width: 90%;
 }
 #self-image {
   display: block;
   width: 70%;
   height: 70%;
 }

 .self-introduction-text {
   line-height: 4.0;
   font-size: large;
 }

 footer {
   height: 50px;
   text-align: center;
 }

 footer p {
   line-height: 50px;
   font-weight: bold;
 }



 /* レスポンシブデザイン */
 @media (max-width: 480px) {

  .top-contents {
    display: flex;
    align-items: center;
  }

  .left-content {
    height: 30px;
    line-height: 30px;
    padding-top: 5p;
    width: 260px;
  }

  i {
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    line-height: 30px;
    margin-top: 3px;
  }

  .owner-name {
    font-size: 0.9em;
  }

  .typed_wrap h1 {
    font-size: 1.5rem;
    height: 100px;
    line-height: 100px;
  }


  .right-content {
    height: 30px;
    line-height: 30px;
    margin-right: 0;
  }
  .right-content p {
    font-size: 0.9rem;
  }

  .bottom-text {
    position: absolute;
    left: 50px;
    bottom: 170px;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: bold;
  }

  .self-introduction {
    line-height: 2.0;
    position: absolute;
    right: 0;
    top: 80px;
    color: #FFF;
    font-size: 0.7rem;
    letter-spacing: 3px;
    font-weight: bold;
  }

  .arrow-1 {
    right: 175px;
   }
   .arrow-2 {
    right: 175px;
   }
   .arrow-3 {
    right: 175px;
   }
   .arrow-4 {
    right: 175px;
   }
   .arrow-5 {
    right: 175px;
   }

  main {
    padding: 100px;
    width: 100vw;
    position: relative;
  }

  .contents li:not(:first-of-type) {
    margin-top: 100px;
  }

  .animationTarget {
    margin-bottom: 230px;
  }

  .contentsText {
    position: absolute;
    width: 150px;
    top: -10px;
    left: -25px;
  }
  .contentsText p {
    font-size: small;
  }

  .contents h2 {
    font-size: 14px;
    padding: 10px 20px;
    line-height: 1.4;
  }

  .contents h2 p {
    font-size: small;
  }

  .contents h2 p span {
    font-size: small;
  }

  .heading {
    font-size: small;
  }
  .frontend {
    font-size: 0.5rem;
    font-weight: bold;
  }
  .backend {
    font-size: 0.5rem;
    font-weight: bold;
  }
  .work-explanation {
    display: block;
    border-bottom: 1px solid lightgray;
  } 
  
  .contents a { 
    width: 200px;
    height: 200px;
  }
  #github-entertainer {
    display: block;
    height: auto;
  }

  .video {
    position: relative;
    height: 450px;
    padding-bottom: 56.25%;
  }
  .video iframe {
    position: absolute;
    left: 20px;
    width: 200px;
    height: 315px;
  }
  #github {
    height: auto;
    display: block;
    width: 170px;
    font-size: 0.8rem;
  }

  .contents a img {
    width: 200px;
    height: 200px;
  }

  #self-image {
    position: absolute;
    display: block;
    width: 170px;
    height: 200px;
    left: 60px  ;
  }

  #languages {
    display: block;
    width: 100%;
    position: absolute;
    left: 60px;
  }

  #work {
    display: block;
    width: 100%;
    position: absolute;
    left: 60px;
  }

  #work-intriduction {
    width: 200px;
  }

  #tools-image {
    width: 170px;
    display: block;
    position: absolute;
    left: 60px;
  }

  #Qiita-image {
    width: 170px;
    display: block;
    position: absolute;
    left: 60px; 
  }

  .contents p {
    line-height: 1.6;
    font-size: 10px;
  }
 }